name: acrion for pull request  main

on:
  pull_request:
    branches: [ main ]
    
jobs:
  build:
    strategy: 
      matrix:
      version: [6,7,8]
    runs-on: ubuntu-latest
    steps:
    - name: Check code
      uses: actions/checkout@v4

    - name: Build project
      run: dotnet build proj/proj.csproj
